.submit-order {
  color: white;
  padding: 8px 24px;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  &:hover{
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
}

.fullwidth {
  width:100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  display:block;
  text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
}

.button-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 12px 32px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  // margin:50px 0;
}

.button-ghost.active {
  color: white;
  background:black;
  opacity: 1;
}

.button-ghost:hover {
  opacity: 1;
}

.buttons-dashboard {
  margin:40px 0;
  float:right;
}

@media (max-width: 640px) {

.buttons-dashboard {
  margin:40px 0;
  float:left;
}

}
