.card-container {
  height:400px;
  width:330px;
  background-size: cover;
  background-position: center;
  color:white;
  border-radius:20px;
  position:relative;
}

.container {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top:30px;
}

.card-info {
  position: absolute;
  bottom: 1rem;
  width: 90%;
  left: 1.1rem;
}

.card-description {
 display: flex;
}

.description-text {

}

.description-icon {
  margin-right:10px;
}

.card-plan {
  border: solid;
  border-radius:20px;
  margin-bottom:16px;
  ul {
    list-style:none;
  }
}

.card-plan-content {
  display:flex;
  align-items:center;
  padding:12px;
  li {
    font-size:12px;
    text-align: justify;
    text-justify: auto;
    max-width: 92%;
  }
  i {
    padding-right:10px;
  }
}

.card-plan h2 {
  padding:1.5rem 3rem 0rem;
  font-size:28px;
  margin-bottom:0;
}

.sub-title {
  padding:0rem 3rem 0rem;
  font-size:12px;
}

.img-plan {
  max-width:100%;
  padding: 1.5rem 3rem 0rem;
}


