.card-container {
  height:400px;
  width:330px;
  background-size: cover;
  background-position: center;
  color:white;
  border-radius:20px;
  position:relative;
}

.container {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top:30px;
}

.card-info {
  position: absolute;
  bottom: 1rem;
  width: 90%;
  left: 1.1rem;
}

.card-description {
 display: flex;
}

.description-text {

}

.description-icon {
  margin-right:10px;
}

.card-plan {
  box-shadow: 1px 1px 5px #555;
  border-radius:20px;
  margin-bottom:16px;
  padding-bottom:12px;
  ul {
    list-style:none;
  }
}

// .hidden{
//   display:none;
// }

.card-plan-content {
  display:flex;
  align-items:center;
  padding:12px;
  li {
    font-size:12px;
    text-align: justify;
    text-justify: auto;
    max-width: 92%;
  }
  i {
    padding-right:10px;
  }
}

.img-plan {
  max-width:100%;
  padding: 1.5rem 3rem 0rem;
}

.card-plan h2 {
  padding:1.5rem 3rem 0rem;
  font-size:28px;
  margin-bottom:0;
}

.checkout-block {
  padding:0rem 3rem 0rem;
  margin-bottom:10px;
}

.checkout-block h2{
  margin-bottom:1.5rem;
  padding-left: 0;
}

.checkout-title{
  font-weight:bold;
}

.checkout-content{
  font-size:15px;
}

.no-hover {
  border-top:1px solid;
  border-color: #F2F2F2;
}

.border-top {
  border-top:1px solid;
  &:hover{
    background-color:#F2F2F2;
  }
}

.selected {
  background-color:#F2F2F2
}

.selected-price {
  font-size: 20px;
  border-bottom:5px solid;
}

#calculation-total-price {
  padding:0.5rem 3rem 0rem;
  margin-bottom:20px;
}

.selected-category {
  font-size: 20px;
}

.sub-title {
  padding:0rem 3rem 0rem;
  font-size:12px;
  margin-bottom:10px;
}

.inline {
  display:flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  margin:0;
}

.left-category {
  flex-grow: 1;
  padding-left:1rem;
}

.right-category {
  float:right;
}

.selected-quantity {
  width:33%;
  padding:1rem 3rem 0rem;
}


.card-button {

}

.custom-select {

}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
