.form-session {
  width: 30%;
  background-color: white;
  padding:50px;
  border-radius: 50%;
}

.form-session h2 {
  color: black;
}

.form-session p {
  color: black;
}

.form-inputs {
  color: black;
}
