.grey {
  background-color:grey;
  color:white;
}

.wrapper-container {
  padding-top: 5px;
  padding-bottom: 25px;
}

.left-column {
  display:flex;
  margin:20px 0;
}

.right-column {
  padding-top:20px;
}
