.grey {
  background-color:grey;
  color:white;
}

.wrapper-container-clock {
  width:100%;
  display:grid;
  grid-template-columns:1fr 1fr;
}

.left-column {
  display:flex;
  margin:20px 0;
}

.right-column {
  padding-top:20px;
  text-align: right;
}

@media (max-width: 768px) {

.wrapper-container-clock {
  // width:100%;
  // display:grid;
  grid-template-columns:1fr;
}

}
